<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 d-flex align-items-center justify-content-between">
        <div>
            <span class="text-muted fw-light cursor-pointer" routerLink="/admin/dashboard">Dashboard /</span>
            Assigned Application List
        </div>
    </h4>
    <div class="card mb-3">
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="col-sm-12 col-md-12 row ">
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center">
                            <span class="w-30">
                                Sarveyer :
                            </span>
                            <span class="w-70">
                                <ng-select [items]="sarveyerActiveList" bindValue="_id" bindLabel="name"
                                    [clearable]="false" placeholder="Select Sarveyer" [searchable]="false"
                                    (change)="onSarveyerChange()" class="form-control  p-0 text-start"
                                    [(ngModel)]="sarveId">
                                </ng-select>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center">
                            <span class="w-30">
                                Search :
                            </span>
                            <span class="w-70">
                                <input type="text" class="form-control" placeholder="Search..." #search
                                    [(ngModel)]="searchTerm" aria-controls="DataTables_Table_0"
                                    (input)="search($event.target.value)">
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="float-end btn btn-primary ml-10"
                            (click)="assignApplicationModalOpen()">Submit</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 mt-3 row">
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center">
                            <span class="w-30">
                                Taluka :
                            </span>
                            <span class="w-70">
                                <ng-select [items]="talukaList" bindValue="talukaId" bindLabel="talukaName"
                                    [clearable]="true" placeholder="Select Taluka" [searchable]="false"
                                    (change)="onTalukaChange()" class="form-control p-0 text-start"
                                    [(ngModel)]="talukaId">
                                </ng-select>
                            </span>
                        </div>
                    </div>
                    <div class="" [ngClass]="talukaId ? 'col-lg-4' : 'd-none'">
                        <div class="d-flex align-items-center">
                            <span class="w-30">
                                Village :
                            </span>
                            <span class="w-70">
                                <ng-select [items]="villageList" bindValue="villageId" bindLabel="villageName"
                                    [clearable]="true" placeholder="Select Village" [searchable]="false"
                                    (change)="onVillageChange()" class="form-control  p-0 text-start"
                                    [(ngModel)]="villageId">
                                </ng-select>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center">
                            <span class="w-30">
                                Year :
                            </span>
                            <span class="w-70">
                                <ng-select [items]="yearList" bindValue="year" bindLabel="year" [clearable]="true"
                                    placeholder="Select Year" [searchable]="false" (change)="getAssignApplicationList()"
                                    class="form-control  p-0 text-start" [(ngModel)]="applicationYear">
                                </ng-select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-datatable">
            <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="table-responsive mt-1">
                    <table class="table dataTable" matSort matSortDisableClear="true"
                        (matSortChange)="sortData($event)">
                        <thead>
                            <tr>
                                <th class="w-5">
                                    <input type="checkbox" class="form-check-input me-1"
                                        [(ngModel)]="applicationIDSelected" (change)="onClickSelectAllApplicationID()">
                                </th>
                                <th class="w-10">Action</th>
                                <!-- <th class="w-5">No</th> -->
                                <!-- <th class="w-5">Sarveyer Name</th> -->
                                <th class="w-5" mat-sort-header="MTRno">MTR No.</th>
                                <th class="w-5" mat-sort-header="applicationFullDate">Application Date</th>
                                <th class="w-5" mat-sort-header="applicantName">Applicant Name</th>
                                <th class="w-5">Applicant Mobile No.</th>
                                <th class="w-5" mat-sort-header="newServeNo">New Sarve No.</th>
                                <th class="w-5" mat-sort-header="oldServeNo">Old Sarve No.</th>
                                <th class="w-5">District</th>
                                <th class="w-5">Taluka</th>
                                <th class="w-5">Village</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr
                                *ngFor="let assignApplicationData of assignApplicationList | paginate: config; let applicationMasterIndex = index">
                                <td>
                                    <input type="checkbox" class="form-check-input me-1"
                                        [(ngModel)]="assignApplicationData.isSelected"
                                        (change)="onClickChange($event,applicationMasterIndex,assignApplicationData)">
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button class="btn btn-bg bg-label-primary p-1 me-2 "
                                            (click)="viewAssignedApplication(assignApplicationData._id)"><i
                                                class="bx bx-show" tooltip="View" placement="bottom"
                                                showDelay="100"></i>
                                        </button>
                                        <button class="btn btn-bg bg-label-primary p-1 me-2 "
                                            (click)="editApplicationmaster(assignApplicationData._id)"><i
                                                class="bx bx-edit-alt " tooltip="Edit" placement="bottom"
                                                showDelay="100"></i>
                                        </button>
                                        <button (click)="rejectApplication(assignApplicationData._id)"
                                            class="btn btn-bg bg-label-danger p-1" tooltip="Delete" placement="bottom"
                                            showDelay="100"><i class="bx bx-trash"></i></button>
                                    </div>
                                </td>
                                <!-- <td>{{ l * (p - 1) + applicationMasterIndex + 1 }}</td> -->
                                <!-- <td>{{ assignApplicationData.sarveName }}</td> -->
                                <td>{{ assignApplicationData.MTRno }}</td>
                                <td>{{ assignApplicationData.applicationFullDate | date : 'dd/MM/yyyy' }}</td>
                                <td>{{ assignApplicationData.applicantName }}</td>
                                <td>{{ assignApplicationData.applicantMobileNo }}</td>
                                <td>{{ assignApplicationData.newServeNo }}</td>
                                <td>{{ assignApplicationData.oldServeNo }}</td>
                                <td>{{ assignApplicationData.district == 8 ? 'સુરેન્દ્રનગર' : ''}}</td>
                                <td>{{ assignApplicationData.talukaName }}</td>
                                <td>{{ assignApplicationData.villageName }}</td>

                            </tr>
                            <tr *ngIf="noData">
                                <td colspan="12">
                                    <h4 class="text-center mt-3">No Data Found</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row px-4" *ngIf="!noData && assignApplicationListlength > l">
            <div class="col-sm-12 col-md-6">
                <div class="d-flex align-items-center justify-content-between ">
                    <div class="dataTables_info me-4">Showing {{l * (p - 1) + 1}} to {{l * (p - 1) + l <
                            assignApplicationListlength ? l * (p - 1) + l : assignApplicationListlength}} of
                            {{assignApplicationListlength}} entries</div>

                            <div class="dataTables_length d-flex align align-items-center dataTables_filter-1"
                                id="DataTables_Table_0_length">
                                <label class="me-2">Show</label>
                                <ng-select name="DataTables_Table_0_length" [items]="itemList" [multiple]="false"
                                    class="form-select custom-class form-control p-0 me-2" [searchable]="false"
                                    bindLabel="name" bindValue="value" [(ngModel)]="itemsPerPage"
                                    (change)="itemsPerPageChange($event.value)" [clearable]="false"
                                    placeholder="Select Account Type">
                                </ng-select>
                                <label>entries</label>
                            </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_paginate paging_simple_numbers float-end">
                        <pagination-template #pagination="paginationApi" (pageChange)="p = $event; setPage($event)">
                            <ul class="pagination">
                                <li class="page-item prev" [class.disabled]="pagination.isFirstPage()">
                                    <a *ngIf="!pagination.isFirstPage()" class="page-link cursor-pointer"
                                        (click)="pagination.previous()">
                                        <i class="tf-icon bx bx-chevron-left"></i> </a>
                                    <div *ngIf="pagination.isFirstPage()" class="page-link">
                                        <i class="tf-icon bx bx-chevron-left"></i>
                                    </div>
                                </li>

                                <li *ngFor="let page of pagination.pages" class="page-item"
                                    [class.active]="pagination.getCurrent() === page.value">
                                    <a (click)="pagination.setCurrent(page.value)" class="page-link cursor-pointer"
                                        *ngIf="pagination.getCurrent() !== page.value">
                                        <span>{{ page.label }}</span>
                                    </a>
                                    <div class="page-link" *ngIf="pagination.getCurrent() === page.value">
                                        <span>{{ page.label }}</span>
                                    </div>
                                </li>
                                <li class="page-item next" [class.disabled]="pagination.isLastPage()">
                                    <a *ngIf="!pagination.isLastPage()" class="page-link cursor-pointer"
                                        (click)="pagination.next()"><i class="tf-icon bx bx-chevron-right"></i> </a>
                                    <div *ngIf="pagination.isLastPage()" class="page-link"><i
                                            class="tf-icon bx bx-chevron-right"></i> </div>
                                </li>
                            </ul>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="assign-application-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1"><strong>Submit Application</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeAssignModal()"></button>
                </div>
                <div class="modal-body" [formGroup]="assignApplicationForm">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label required">Submitted Savreyer Name</label>
                            <ng-select [items]="sarveyerActiveList" class="form-control p-0" bindLabel="name"
                                bindValue="_id" placeholder="Select Sarveyer Name" [clearable]="false"
                                formControlName="sarveId">
                            </ng-select>
                            <div *ngIf="submittedApplicationAssignData && fApplicationAssignData.sarveId.errors">
                                <div *ngIf="fApplicationAssignData.sarveId.errors.required">
                                    <span class="error_msg">Submitted Sarveyer Name is Required for Submit
                                        Application.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label required">Submitted Application Date</label>
                            <div class="mb-3 position-relative mat-date-picker" (click)="assignDate.open()">
                                <input matInput class="form-control" placeholder="Please Select Date"
                                    [matDatepicker]="assignDate" formControlName="assignDate">
                                <div class="mat-dat-picker-icon">
                                    <div class="calendar-icon"><i class="bx bxs-calendar"></i></div>
                                    <mat-datepicker-toggle matSuffix [for]="assignDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #assignDate></mat-datepicker>
                                </div>
                                <div *ngIf="submittedApplicationAssignData && fApplicationAssignData.assignDate.errors">
                                    <div *ngIf="fApplicationAssignData.assignDate.errors.required">
                                        <span class="error_msg">Submitted Application Date is Required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="assignApplicationData()">Submit</button>
                </div>
            </div>
        </div>
    </div>