<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-md-flex justify-content-end align-items-center mb-3">
        <div class="btn-cus" *ngIf="isEditSetting === false">
            <button type="button" class="btn btn-primary" (click)="editSetting()">
                Edit Setting
            </button>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">General Setting</h5>
        </div>
        <div class="card-body">
            <form [formGroup]='comapnyForm' role="form" class="add-employee-form" autocomplete="off">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="nameBasic" class="form-label required">Primary Background Color</label>
                        <input type="color" class="form-control" placeholder="primaryBackgroundColor"
                            formControlName="primaryBackgroundColor" />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label required">Primary Background Text Color</label>
                        <input type="color" class="form-control" placeholder="primaryBackgroundTextColor"
                            formControlName="primaryBackgroundTextColor" />
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label required">Primary Text Color</label>
                        <input type="color" class="form-control" placeholder="primaryTextColor"
                            formControlName="primaryTextColor" />
                    </div>
                </div>
            </form>
            <div class="d-flex float-end" *ngIf="isEditSetting === true">
                <div class="pe-3">
                    <button type="submit" class="btn btn-primary" (click)="updateCompanySetting()">Save</button>
                </div>
                <div class="">
                    <button type="submit" class="btn btn-outline-primary"
                        (click)="canclecompanySetting()">Cancle</button>
                </div>
            </div>
        </div>
    </div>
</div>